<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTER PAGE</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    <label for="uname">User name:</label><br>
    <input type="text" id="uname" name="username"><br>


    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="first_name"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="last_name"><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>

  <label for="address">Address:</label><br>
  <input type="text" id="address" name="Address"><br>

    <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>

  <label for="cpassword">Conform password:</label><br>
  <input type="password" id="cpassword" name="conform_password"><br><br>

    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}

</body>
</html>